
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lora&family=Nanum+Gothic&family=Prompt:ital,wght@0,400;1,200&family=Source+Sans+Pro:ital,wght@0,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/*FONTS

font-family: 'Bebas Neue', cursive;
font-family: 'Lora', serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Prompt', sans-serif;
font-family: 'Source Sans Pro', sans-serif;

font-family: 'Roboto', sans-serif;

*/
#foru{
    cursor: pointer;
}
*{
    scroll-behavior: smooth;
    
}

body{
    scroll-behavior: smooth;
    width: 100%;
    height: 120em;
    float: left;
    margin: 0;
    background-color: rgb(234, 234, 234);
}

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: 	#1e1f1f;
}   
::-webkit-scrollbar-thumb{
    background-color: 	#303131;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}
::-webkit-scrollbar-thumb:hover{background-color: 	#434444;}
/* FAQ*/
/*!1 DIVS*/
div.in_home{
    float: left;
    color: white;
    background-color: 	#1e1f1f;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 6em;
     

}
    .home_el{
        width: 50em;
        height: 100%;
        background-color: #2D4263;
        display: flex;
        justify-content: left;
    }
        .el_lgs{
            display: inline-flex;
            justify-content: center;
            width: 10em;
            height: 100%;
            background-color: 	#2b374b;
            
        }
        div.el_fixnav{
            display: block;


        }
                        .el_srch{
                            display: flex;
                            justify-content: center;
                            width: 40em;
                            height: 100%;
                            background-color: #2D4263;
                        }

        .el_nav{
            width: 40em;
            display: flex;
            justify-content: right;
            height: 1.6em;
            background-color: rgb(255, 255, 255);
        }       

            

                .nav_butback{
                    
                    width: 18em;
                    display: inline-flex;
                    justify-content: space-around;
                    background-color: none;
                }
                    div.nav_contback{
                        width: 30em;
                        display: flex;
                        justify-content: left;
                        height: 100%;
                        background: none;


                    }
            




div.in_home_nav{
    width: 100%;
    position: sticky;
    z-index: 10;
    top: 0;                
    height: 2.5em;
 
    color: white;
    background-color: 		#242526;
    display: flex;
    
    justify-content: center;
    
}   
        .hmnav_cart{
            left: 0;
            top: 0;
            margin-left: 0.7em;
            display: flex;
            justify-content: left;
            position:fixed;
            width: 6em;
            height:2.4em;
            background-color: none;
        }       

    div.home_nav_buts{
        width: 25%;
    height: 100%;
    background: none;

    display: flex;
    justify-content: space-around;
    }       
            


div.in_sh{

    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    float: left;
    height: 46em;
    
    
   
    
}      
    div.sh_back{
        position:absolute;
        width: 100%;
        height: 100%;
        filter: grayscale(100%);
        background-image: url('hmimg2.jpg');
        background-size: cover;
        -webkit-filter: grayscale(100%);
}   
    div.sh_area{
        margin-top: 10em;
        position: relative;
        width: 50em;
        height: 20em;
        background: none;
    }
                div.area_intxt{
                    width: 100%;
                    height: 10em;
                    display: flex;
                    justify-content: center;
                    background: none;
                }
                div.area_txt{
                    
                    display: flex;
                    justify-content: center;
                    width: 100%;
                    height: 5em;
                    background: none;
                }
                div.area_backbuts{
                    width: 100%;
                    height: 5em;
                    background: none;
                    display: flex;
                    justify-content: center;
                }
                div.area_butts{
                    width: 55%;
                    height: 100%;
                    background: none;
                    display: flex;
                    justify-content: space-around;
                    
                }


                div.hl_report{
                    float: left;
                    width: 100%;
                    height: 45.5em;
                    background-color: #0a0b0d;
                    display: flex;
                    justify-content: center;
                }
                    div.report_dv{
                        width: 50em;
                        height: 27em;
                        border-radius: 4.5em 2em 4.5em 2em;
                        margin: 8em 0em 0em 0em;
                        /*TOP,RIGHT,BOTTOM,LEFT*/ background-color: #121416;
                        -webkit-border-radius: 4.5em 2em 4.5em 2em;
                        -moz-border-radius: 4.5em 2em 4.5em 2em;
                        -ms-border-radius: 4.5em 2em 4.5em 2em;
                        -o-border-radius: 4.5em 2em 4.5em 2em;
                        box-shadow: 0px 1px 6px rgb(190, 165, 0);
                        

}                   
               

                .dv_rep_tip{
                    
                    border-radius: 4.5em 2em 0em 0em;
                    width: 100%;
                    height: 7em;
                    
                    background-color: #0e1112;
                    -webkit-border-radius: 4.5em 2em 0em 0em;
                    -moz-border-radius: 4.5em 2em 0em 0em;
                    -ms-border-radius: 4.5em 2em 0em 0em;
                    -o-border-radius: 4.5em 2em 0em 0em;
}

                .dv_repinptx{
                        padding-top: 0.01em;
                       width: 100%;
                          display: flex;
                          justify-content: center;
}                                   
                        


                    .report_controls{
                        margin-top: 0em;
                        width: 100%;
                        display: flex;
                        justify-content: space-around;
                    }
                 
                div.hl_contact{
                    float: left;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    height: 15em;
                    background-color: #2a2a2b;
                }
                    div.box{
                        background: none;
                        width: 20em;
                        height: 100%;
                        display: block;
                        
                    }   
                        .mailback{
                            width: 20em;
                            height: 10em;
                            display: flex;
                            justify-content: center;
                            background: none;
                        }
                        .mailimg{
                            display: flex;
                            justify-content: center;
                            background-size: cover;
                            width: 11em;
                            height: 11em;
                            background-image: url("mail.png");
                        }
                    
                        .mailbox{
                            display: flex;
                            justify-content: center;
                            
                            width: 20em;
                            height: 5em;
                            background: none;
                        }
                        #mail{
                            cursor: pointer;
                            color: #55550d;
                            margin-top: 0.7em;
                            font-family: 'Source Sans Pro', sans-serif;
                            font-weight: bold;
                            font-size: 120%;
                            transition: font-size 0.5s, color 0.5s;
                            -webkit-transition: font-size 0.5s, color 0.5s;
                            -moz-transition: font-size 0.5s, color 0.5s;
                            -ms-transition: font-size 0.5s, color 0.5s;
                            -o-transition: font-size 0.5s, color 0.5s;
}
                        #mail:hover{
                            color: #838316;
                            font-size: 140%;
                        }
                    
          



div.in_end{
    color: white;
    width: 100%;
    display: flex;
    justify-content: left;
    float: left;
    height: 5em;
    background-color: 	#181818;

}
    #rights{
        margin: 2em 0em 0em 1em;
        color: #5a5a5a;
        font-family: 'Nanum Gothic', sans-serif;

    }

/*!4 TEXT */
h2.tx_tipbig{
    padding-top: 0.4em;
    margin-top: 0;
    text-align: center;
    font-size: 325%;
    font-family: 'Prompt', sans-serif;
    color: #ebebeb;
    font-weight:bold;
     transition: color 500ms;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
    cursor: grab;
}
h2.tx_tipsmall{
    padding-top: 1em;
    margin: 0;
    text-align: center;
    font-size: 180%;
    font-family: 'Prompt', sans-serif;
    color: #c9c9c9;
    font-weight: normal;
    transition: color 500ms;
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
    cursor: grab;
}
.tx_tipbig:hover,.tx_tipsmall:hover{color: #ffffff;}




.tx_insh{
    color: #ffff00;
    
    font-family: 'Prompt', sans-serif;
    font-weight: bold;
    padding-top: 0.5em;
    margin-top: 0em;
    font-size: 420%;
    cursor: grab;
    transition:font-size 1s;
    -webkit-transition:font-size 1s;
    -moz-transition:font-size 1s;
    -ms-transition:font-size 1s;
    -o-transition:font-size 1s;
}
.tx_insh:hover{font-size: 440%;}
.tx_inshsm{
    color: #ffff00;
    opacity: 90%;
    font-size: 150%;
    margin-top: 0em;
    font-family: 'Prompt', sans-serif;
    font-weight: normal;

}
h1.tx_home{
   
    color: white;
    font-family: 'Prompt', sans-serif;
    font-size: 200%;
    margin-top: 0.8em;
  

}
h3.tx_home_nav{
    cursor: grab;
    color: rgb(230, 230, 230);
    margin-top: 0.6em;
    font-size: 100%;
    transition: font-size 500ms, margin-top 1s;
    font-family: 'Prompt', sans-serif;
    -webkit-transition: font-size 500ms, margin-top 1s;
    -moz-transition: font-size 500ms, margin-top 1s;
    -ms-transition: font-size 500ms, margin-top 1s;
    -o-transition: font-size 500ms, margin-top 1s;
    
}   
    .tx_home_nav:hover{font-size: 120%; margin-top: 0.4em;}
.tx_help{
    font-family: 'Prompt', sans-serif;
    font-size: 250%;
    margin-top: 1.5em;
    opacity: 90%;
    z-index: 0;
    color: rgb(255, 255, 255);
}
h1.cartcount{
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0.5em 0em 0em 0.3em;
    font-size: 130%;
}
h2.author{
    margin: 0.5em 0em 0em 0.8em;
    color: #000000;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    cursor: grab;
    font-size: 80%;
}
.tx_wel_soon{
    color: #FFFFFF;
    margin-top: 2.5em;
    font-size: 400%;
font-family: 'Roboto', sans-serif;
    
   
}
.end_intr{
    color: #FFFFFF;
    font-family: 'Prompt', sans-serif;
    font-size: 180%;
    width: 100%;

    text-align: center;
    margin: 0.6em 0em 0em 0em;
    -webkit-border-radius:20px ;
    -moz-border-radius:20px ;
    -ms-border-radius:20px ;
    -o-border-radius:20px ;
}
.end_cr{
    color: #FFFFFF;
    font-family: 'Prompt', sans-serif;
    font-size: 110%;
    margin: 0;
    font-weight: normal;
    text-align: center;
}
    #gtcr{
        font-weight: bold;
        cursor: grab;
    }
h2.ch_control{
    margin-left: 0.7em;
    font-family: 'Roboto', sans-serif;
    font-size: 80%;
    color: #000000;
    margin-top: 0.5em;
    font-weight: normal;

}
        h2.ch_control_con{
            margin-left: 0.7em;
            font-family: 'Roboto', sans-serif;
            font-size: 80%;
            color: #01c031;
            margin-top: 0.5em;
            font-weight: bold;

        }
        h2.ch_control_dis{
            margin-left: 0.7em;
            font-family: 'Roboto', sans-serif;
            font-size: 80%;
            color: #c00101;
            margin-top: 0.5em;
            font-weight: bold;
        }

/*!3 BUTTONS*/


/*!5 INPUTS*/
    input.inp_srch{
        text-align: center;
        width: 20em;
        height: 2.4em;
        margin-top: 1.4em;
        transition: width 1s;
        -webkit-transition: width 1s;
        -moz-transition: width 1s;
        -ms-transition: width 1s;
        -o-transition: width 1s;
}   
            .inp_srch:focus{
                width: 24em;
                outline: none;
    
            }

            input.inp_wrt_report{
                translate: no;
                color: rgb(150, 143, 0);
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: normal;
                font-size: 130%;
                text-align: center;
                display: flex;
                margin-top: 1.5em;
                background-color: #5f5f5316;
                width: 35em;
                height: 3.3em;
                border: none;
                border-radius: 2.5em 1em 2.5em 1em;
                -webkit-border-radius: 2.5em 1em 2.5em 1em;
                -moz-border-radius: 2.5em 1em 2.5em 1em;
                -ms-border-radius: 2.5em 1em 2.5em 1em;
                -o-border-radius: 2.5em 1em 2.5em 1em;
}
            input.inp_wrt_report:hover,:focus{
                outline: none;
              
            
            }
            .inp_wrt_report::placeholder{
                color: rgb(82, 80, 37);
                    
            }


            h2.cnt_val{
                font-size: 100%;
                margin-top: 1em;
            }

            div.inptx_counter{
                text-align: center;
                font-weight: normal;
                background-color: #b1b100;
                width: 6em;
                margin-top: 1em;
                height: 3.5em;
                color: rgb(0, 0, 0);
                font-family: 'Prompt', sans-serif;
                border: none;
                font-size: 150%;
                cursor: grab;
                transition: background-color 1s;
                border-radius: 30px;
                -webkit-border-radius: 30px;
                -moz-border-radius: 30px;
                -ms-border-radius: 30px;
                -o-border-radius: 30px;
                -webkit-transition: background-color 1s;
                -moz-transition: background-color 1s;
                -ms-transition: background-color 1s;
                -o-transition: background-color 1s;
}
                div.inptx_counter:hover,.but_snd_report:hover{ background-color: #dfdf00;}


              button.but_snd_report{
                
                cursor: grab;
                transition: background-color 1s;
                margin-top: 2em;
                width: 20em;
                color: rgb(0, 0, 0);
                background-color: #b1b100;
                height: 6em;
                border-radius: 60px;
                font-family: 'Source Sans Pro', sans-serif;
                -webkit-border-radius: 60px;
                -moz-border-radius: 60px;
                -ms-border-radius: 60px;
                -o-border-radius: 60px;
                -webkit-transition: background-color 1s;
                -moz-transition: background-color 1s;
                -ms-transition: background-color 1s;
                -o-transition: background-color 1s;
}
                .tx_but_sdrp{
                    font-family: 'Source Sans Pro', sans-serif;
                    font-size: 160%;
                    
                }

    button.but_dosrch{
        width: 5em;
        margin: 1.2em 0em 0em 0.5em;
        /*TOP,RIGHT,BOTTOM,LEFT*/height: 3em;
        background-color: rgb(255, 125, 26);
        transition: background-color 500ms, width 500ms;
        border: none;
        color: white;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
       
}
            .but_dosrch:hover,.but_dosrch:active{
                width: 5.5em;
                background-color: rgb(255, 152, 26);

            }

button.nav_navbuts{
 width: 4.5em;
 height: 100%;
 border: none;
 background: none;
 font-family: 'Roboto', sans-serif;
 font-size: 80%;
 transition: font-size 400ms;
 -webkit-transition: font-size 400ms;
 -moz-transition: font-size 400ms;
 -ms-transition: font-size 400ms;
 -o-transition: font-size 400ms;
}
    .nav_navbuts:hover{
            
            font-size: 90%;
            
    }
    .nav_butback:active{
            font-weight: bold;
    }

button.dwbut{
    width: 15em;
    height: 80%;
    color: white;
    background: none;
    border-radius: 30px;
    border: 4px solid rgb(201, 184, 0);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    transition: width 1s;
    -webkit-transition: width 1s;
    -moz-transition: width 1s;
    -ms-transition: width 1s;
    -o-transition: width 1s;
}

    .lkaro{
    font-size: 125%;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-weight: normal;
    transition: font-size 500ms;
    -webkit-transition: font-size 500ms;
    -moz-transition: font-size 500ms;
    -ms-transition: font-size 500ms;
    -o-transition: font-size 500ms;
}
    .lkaro:hover{ font-size: 135%;}
    
/*!6 IMAGES*/

/*!7 SPECIAL*/

#report_page{
    margin-top: 5em;
    visibility: hidden;
}

form.none{
    width: deafult;
}

#lk{
    text-decoration: none;
    color: rgb(236, 216, 0);
}


.hmnav_cart{
    left: 0;
    margin-top: 0.4em;
    margin-left: 2em;
    display: flex;
    justify-content: left;
    position:absolute;
    width: 3em;
    height:2em;
    background-color: none;
}       
button.but_gocart{
    height:2em;
    width: 2em;
    border: none;
    background: none;
    background-image: url("cartpng.png");
    background-size: cover;

}
.tx_home_hide{
    visibility: hidden;
    display: none;
}

/*!8 Buy system*/
   
